{

 :nlptools.model/entity {:id "test-model-entity"
                         :language "ro"
                         :entity "category"
                         :loadbin? true
                         :binfile "/tmp/category.bin"
                         :logger #ig/ref :duct.logger/timbre}

 :duct.logger/timbre {:level    :report
                      :set-root-config? true
                      :appenders {:duct.logger.timbre/brief #ig/ref :duct.logger.timbre/brief}},


 :duct.logger.timbre/brief {:min-level :report},
 
 }
